<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/assets/favicon.ico}" href="../static/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/responsive.css" th:href="@{/css/responsive.css}">
    <title>Edit Logo and Business Name</title>
</head>

<body>
    <h2>Add</h2>
    <form action="" th:action="@{/addlogo}" th:object="${businessDetails}" method="post" enctype="multipart/form-data">
        <input type="text" name="bname" id="bname" th:field="${businessDetails.bname}" placeholder="Enter new business name ..."
            required>
        <input type="file" path="logoPhoto" id="logo" name="logo" th:field="${businessDetails.logo}" accept="image/png, image/jpeg"
            placeholder="Upload new logo ..." required>
        <button type="submit">Add Details</button>
    </form>

    <h2>Edit Logo and Business Name - form</h2>
    <form action="" th:action="@{/updatelogo}" th:object="${businessDetails}" method="post" enctype="multipart/form-data">
        <input type="text" name="bname" id="bname" th:field="${businessDetails.bname}" placeholder="Enter new business name ..."
            required>
        <input type="file" path="logoPhoto" id="logo" name="logo" th:field="${businessDetails.logo}" accept="image/png, image/jpeg"
            placeholder="Upload new logo ..." required>
        <button type="submit">Update Details</button>
    </form>
</body>

</html>