<!-- // Authors: Liplan Lekipising and catherine Muthoni -->

<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" th:href="@{/assets/favicon.ico}" href="../static/assets/favicon.ico" type="image/x-icon">
  <title>Error | AutoParts 250</title>
</head>

<body>
  <div>
    <h1>Error 500</h1>
    <h2><a href="./home.html" th:href="@{/}">Go Home</a></h2>
  </div>
</body>

</html>